/*General*/

@font-face {
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
}

html {
font-size: 15px;
}

body {
line-height: 1.4;
font-family: "Open Sans", "Helvetica", sans-serif;
color: rgb(50, 50, 50);
}


/*Header Section*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 64px;
  padding: 0 24px;
  z-index: 5;
  top: 0;
  position: fixed;
  min-width: 100%;
  box-sizing: border-box;
}

.mobile-header {
  display: none;
}

header .logo {
  display: flex;
  align-items: center;
  color: #000;
}

ul {
  display: flex;
}

ul li a{
  margin-left: 20px;
  color: rgb(50, 50, 50);
  transition: transform 1s ease;
}

ul li a:hover {
  color: rgb(60, 41, 232);
  transform: translate(0, 10px);
}

h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Roboto";
  padding-bottom: 8px;
}

header .logo h3 {
  font-weight: lighter;
  letter-spacing: 2px;
  padding-bottom: 0;
}

.logo img {
  height: 32px;
}

/*Banner Section*/

#banner {
  margin-top: 64px;
  background-color: rgb(235, 235, 235);
  align-items: center;
}

.container {
  display: flex;
  padding: 34px 24px;
}

.container img {
  width: 60%;
}

.container .content {
  margin-left: 40px;
  margin-right: 40px;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Roboto";
  line-height: 1.1;
}

.content h1 {
  margin-bottom: 20px;
}

.b1 {
  font-size: 1.2rem;
}

.content .b1 {
  margin-bottom: 30px;
}

.btn {
  background-color: rgb(0, 114, 255);
  padding: 10px 0;
  text-align: center;
  max-width: 300px;
  transition: background-color 300ms ease;
}

.btn a {
  color: white;
}

.btn:hover {
  background-color: rgb(60, 41, 232);
}

/*Supporting Information*/

.section {
  display: flex;
}

#main {
  flex-direction: column;
  width: 60%;
}

#main img {
  width: 100%;
}

h2 {
  font-size: 1.9rem;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto";
}

#main h2 {
  margin-bottom: 24px;
  margin-top: 32px;
}

.quote {
  text-indent: -.4em;
  width: 90%;
  color: rgba(50, 50, 50, .7);
  font-style: italic;
}

.b3 {
  font-size: .875rem;
  font-weight: 700;
}

#main .b3 {
  margin-top: 24px;
  color: rgba(50, 50, 50, .7);
  font-style: italic;
}

.secondary {
  width: 40%;
  overflow: hidden;
}

#mobile {
  display: none;
}

.segment {
  border: 2px solid rgba(216, 216, 216, .2);
  display: flex;
  width: 100%;
}

.segment:first-child {
  padding-top: 14px;
}

.segment img {
  width: 35%;
  height: auto;
  padding: 16px;
  align-self: center;
}

.segment .content {
  margin-right: 24px;
  margin-top: auto;
  margin-bottom: auto;
  width: 65%;
}

.segment:hover {
  background-color: rgba(216, 216, 216, .2)
}

.secondary .content p {
  margin-bottom: 8px;
  font-size: 0.875rem;
}

.secondary .content a {
  font-size: 0.875rem;
  color: rgb(0, 114, 255);
}

.secondary .content a:hover {
  color: rgb(60, 41, 232);
}

/*Subject Section*/
.subjects-mobile {
  display: none;
}

.subjects h2 {
  text-align: center;
  margin-bottom: 32px;
}

.subjects {
  padding: 32px 72px;
  background-color: rgb(235, 235, 235);
}

.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  max-width: 1600px;
}

.tile .content {
  background-color: white;
  padding: 16px 16px 24px 16px;
}

.tile img {
  height: auto;
  width: 100%;
}

.tile {
  display: flex;
  flex-direction: column;
}

.content .courses {
  margin-bottom: 6px;
}

.subjects .content p {
  color: rgba(50, 50, 50, 0.75);
  font-size: 0.875rem;
}

.courses {
  letter-spacing: .5px;
}

/*Thesis Section*/

#thesis h3 {
  margin-top: 24px;
}

.wrapper-video {
  width: 100%;
  height: auto;
  position: relative;
}

.section-header h2 {
  text-align: center;
  padding-top: 32px;
}

#playpause {
  width: 35%;
  height: 35%;
  opacity: .75;
  position:absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  }

#playpause:hover {
  opacity: 1;
}

#playpause:active {
  opacity: 0;
}

#thesis .segment:first-child {
  padding-top: 0;
}

#thesis .secondary {
  margin-top: 32px;
}

/*Footer*/

footer {
  font-size: .785rem;
  background-color: rgb(235, 235, 235);
}

footer .content {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(215, 215, 215);
  padding: 16px 24px 64px 24px;
}

footer span, footer a {
  opacity: .75;
}

li #footer {
  margin-left: 16px;
}

/*media queries*/

@media screen and (max-width: 768px) {

  /*Header Section*/

  h1 {
    line-height: 1.2;
  }

  header {
    display: none;
    padding: 0;
  }

  .mobile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
  }

  /*Banner Section*/

  .container {
    flex-direction: column;
    padding: 0;
  }

  .container .content {
    padding: 32px 16px;
    margin: 0;
  }

  .container img {
    width: 100%;
    height: auto;
  }

  .btn {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
  }

  .container .b1 {
    margin-bottom: 24px;
  }

  /*Secondary Information*/

  #info #main {
    display: none;
  }

  .segment {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
  }

  .secondary {
    margin: 16px;
    width: 100%;
    overflow:hidden;
  }

  #desktop {
    display: none;
  }

  #mobile {
    display: block;
    width: 100%;
    padding-top: 0;
  }

  .segment:first-child {
    padding-top: 0;
  }

  .segment .content {
    width: 100%;
    padding: 16px 16px 24px 16px;
    margin-right: 0;
  }

  h2 {
      font-size: 2.6rem;
      line-height: 1;
  }

  h3 {
    font-size: 1.9rem;
  }

  .secondary .content p {
    font-size: 1.1rem;
  }

  .b1 {
    font-size: 1.3rem;
  }

  .secondary .content a {
    font-size: 1rem;
  }


  /*Subject Section*/

  .wrapper {
    display: none;
  }

  .subjects-mobile {
    display: block;
  }

  .subjects {
    padding: 32px 16px;
  }

  .subjects-mobile h3 {
    background-color: rgb(0, 114, 255);
    color: #FFF;
    padding: 24px 16px;
    margin-bottom: 8px;
    font-weight: 400;
  }

  .subjects-mobile h3:active {
    background-color: rgb(60, 41, 232);
  }

  /*Thesis Section*/

  #thesis #main {
    width: 100%;
    padding: 16px 0 24px 0;
  }

  #thesis .secondary, #thesis h3, #thesis p  {
    display: none;
  }

  /*Footer*/

  #footer {
    display: none;
  }

  footer {
    font-size: .85rem;
  }

  footer .content {
    padding: 16px 32px;
  }

  .wrapper {
    display: none;
  }
