/*General*/

@font-face {
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
}

html {
font-size: 15px;
}

body {
line-height: 1.5;
font-family: "Open Sans", "Helvetica", sans-serif;
color: rgb(50, 50, 50);
}


/*Header Section*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 64px;
  padding: 0 24px;
  z-index: 5;
  top: 0;
  position: fixed;
  min-width: 100%;
  box-sizing: border-box;
}

header .logo {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
}

ul li a{
  margin-left: 20px;
  color: rgb(50, 50, 50);
  transition: transform 1s ease;
}

ul li a:hover {
  color: rgb(60, 41, 232);
  transform: translate(0, 10px);
}

h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Roboto";
  padding-bottom: 8px;
}

header .logo h3 {
  font-weight: lighter;
  letter-spacing: 2px;
  padding-bottom: 0;
}

.logo img {
  height: 40px;
}

/*Banner Section*/

.banner {
  display: flex;
  align-items: center;
  background-color: rgb(235, 235, 235);
  margin-top: 64px;
}

.banner img {
  width: 52.7%;
  padding: 32px 24px;
}

.banner .content {
  margin-left: 24px;
  margin-right: 60px;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Roboto";
  line-height: 1.1;

}

.content h1 {
  margin-bottom: 20px;
}

.b1 {
  font-size: 1.2rem;
}

.content .b1 {
  margin-bottom: 30px;
}

.banner .btn {
  background-color: rgb(0, 114, 255);
  padding: 10px 0;
  text-align: center;
  width: 250px;
  transition: background-color 250ms ease;
}

.btn a {
  color: white;
}

.banner .btn:hover {
  background-color: rgb(60, 41, 232);
}

/*Secondary Information*/

.information {
  display: flex;
  width: 100%;
}

.main img {
  width: 100%;
  margin-bottom: 24px;
}

.main {
  width: 53%;
  padding: 32px 24px;
}

h2 {
  font-size: 1.9rem;
  font-weight: 700;
  font-family: "Roboto";
}

.main h2 {
  margin-bottom: 15px;
}

.main .quote {
  text-indent: -.4em;
  width: 90%;
  color: rgba(50, 50, 50, .7);
  font-style: italic;
}

.b3 {
  font-size: .875rem;
  font-weight: 700;
}

.main .b3 {
  margin-top: 24px;
  color: rgba(50, 50, 50, .7);
  font-style: italic;
}

.secondary {
  width: 42%;
  overflow: hidden;
}

.segment {
  border: 2px solid rgba(216, 216, 216, 0);
  display: flex;
  width: 100%;
}

.segment:first-child {
  padding-top: 14px;
}

.segment img {
  width: 35%;
  height: auto;
  padding: 16px;
  align-self: center;
}

.segment .content {
  margin-right: 24px;
  margin-top: auto;
  margin-bottom: auto;
  width: 65%;
}

.information .content p {
  margin-bottom: 8px;
  font-size: 0.875rem;
}

.information a {
  font-size: 0.875rem;
  color: rgb(0, 114, 255);
}

.information a:hover {
  color: rgb(60, 41, 232);
}

/*Subject Section*/
.subjects h2 {
  text-align: center;
  margin-bottom: 32px;
}

.subjects {
  padding: 32px 72px;
  background-color: rgb(235, 235, 235);
}

.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  max-width: 1600px;
}

.tile .content {
  background-color: white;
  padding: 16px 16px 24px 16px;
}

.tile img {
  height: auto;
  width: 100%;
}

.tile {
  display: flex;
  flex-direction: column;
}

.content .courses {
  margin-bottom: 6px;
}

.subjects .content p {
  color: rgba(50, 50, 50, 0.75);
  font-size: 0.875rem;
}

.courses {
  letter-spacing: .5px;
}

/*Thesis Section*/

.thesis h3 {
  margin-top: 24px;
}

.wrapper-video {
  width: 100%;
  height: auto;
  position: relative;
}


.thesis h2 {
  text-align: center;
  padding-top: 32px;
}

#playpause {
  width: 35%;
  height: 35%;
  opacity: .75;
  position:absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  }

#playpause:hover {
  opacity: 1;
}

#playpause:active {
  opacity: 0;
}

/*Footer*/

footer {
  font-size: .785rem;
  background-color: rgb(235, 235, 235);
}

footer .content {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(215, 215, 215);
  padding: 16px 24px 64px 24px;
}

footer span, footer a {
  opacity: .75;
}

li #footer {
  margin-left: 16px;
}
